
.product {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
}

img{
    width: 30%;

}
h3 {
    padding: 10px 5px 10px 5px;
    margin: 5px 3px 5px 3px;
}

p {
    padding: 10px 5px 10px 5px;
    margin: 5px 3px 5px 3px;
}

button {
    padding: 10px 5px 10px 5px;
    margin: 5px 3px 5px 3px;
}